#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";
        default_layer {
            bindings = <
                &kp N0      &kp P     &kp COLON     &kp QUESTION  &kp RBRACE      // row 0
                &kp N1      &kp Q     &kp A         &kp Z         &kp TILDE       // row 1
                &kp N2      &kp W     &kp S         &kp X         &kp PIPE        // row 2
                &kp N3      &kp E     &kp D         &kp C         &kp LEFT        // row 3
                &kp N4      &kp R     &kp F         &kp V         &kp RIGHT       // row 4
                &kp N5      &kp T     &kp G         &kp B         &none           // row 5
                &kp EQUAL   &kp TAB   &kp CAPS      &kp LSHIFT    &none           // row 6
                &kp Y       &kp H     &kp N         &none         &none           // row 7
                &kp U       &kp J     &kp M         &kp UP        &none           // row 8
                &kp I       &kp K     &kp LT        &kp DOWN      &none           // row 9
                &kp O       &kp L     &kp GT        &kp LBKT      &none           // row 10
                &kp MINUS   &kp PIPE  &kp DQT       &kp RSHIFT    &none           // row 11
            >;
        };
    };
};