#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";
        default_layer {
            bindings = <
                &kp N0      &kp P      &kp H      &kp COMMA   &kp SPACE &none     &none
                &kp N1      &kp Q      &kp A      &kp Z       &kp GRAVE &none     &none
                &kp N2      &kp W      &kp S      &kp X       &kp BSLASH &none    &none
                &kp N3      &kp E      &kp D      &kp C       &kp LEFT  &none     &none
                &kp N4      &kp R      &kp F      &kp V       &kp RIGHT &none     &none
                &kp N5      &kp T      &kp G      &kp B       &kp BSPC  &none     &none
                &kp EQUAL   &kp TAB    &kp CAPS   &kp LSHFT   &none     &none     &none
                &kp N6      &kp Y      &kp LCTRL  &kp HOME    &kp DEL   &none     &none
                &kp N7      &kp U      &kp LALT   &kp PG_UP   &kp END   &none     &none
                &kp N8      &kp I      &kp RALT   &kp N       &kp PG_DN &none     &none
                &kp N9      &kp O      &kp RGUI   &kp M       &kp RET   &none     &none
                &kp MINUS   &kp BSLASH &kp J      &kp DOT     &kp UP    &none     &none
                &kp ESC     &none      &kp K      &kp SLASH   &kp DOWN  &none     &none
                &kp F1      &none      &kp L      &kp RSHFT   &kp LBKT  &none     &none
                &kp F2      &none      &kp SEMI   &none       &kp RBKT  &none     &none
            >;
        };
    };
};
