#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";
        default_layer {
            bindings = <
                &kp RBRC &kp QMARK &kp COLON &kp P &kp N0 &none &none  // row 0
                &kp N5 &kp T &kp G &kp B &none &none &none   // row 1
                &kp N4 &kp R &kp F &kp V &kp RIGHT &kp N0 &kp END   // row 2
                &kp N3 &kp E &kp D &kp C &kp LEFT &kp BSPC &kp HOME // row 3
                &kp N2 &kp W &kp S &kp X &kp BSLH &kp DEL &kp N0   // row 4
                &kp N1 &kp Q &kp A &kp Z &kp GRAVE &kp LCTRL &kp LALT   // row 5
                &kp EQUAL &kp TAB &kp CAPS &kp LSHFT &none &none &none   // row 6
                &kp UP &kp N &kp H &kp Y &kp N6 &kp N1 &kp N2 // row 7
                &none &kp M &kp J &kp U &kp N7 &kp N3 &kp N4 // row 8
                &kp DOWN &kp LT &kp K &kp I &kp N8 &kp N5 &kp N6  // row 9
                &kp LBRC &kp GT &kp L &kp O &kp N9 &kp N7 &kp N8 // row 10
                &none &kp RSHFT &kp COMMA &kp BSLH &kp MINUS &kp N9 // row 11
            >;
        };
    };
};
